<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guest Book</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <div>
        <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
            <ul class="nav navbar-nav">
                <li><a href="/">Home<span class="sr-only">(current)</span></a></li>
                <li><a href="/about">About Me</a></li>
                <li class="active"><a href="/guestbook">Guest Book</a></li>
            </ul>
        </nav>
    </div>
    <br/>
    <div class="jumbotron"> <p style="text-align:center">
            Please sign into my guest book so I know you visited.
        </p></div>
    <div style="text-align: center">
        <div class="container">
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <form method="POST" action="/addname">
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter first name...">
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter last name...">
                        </div>
                        <div class="form-group">
                            <label for="comments">Comments</label>
                            <textarea class="form-control" id="comments" name="comments" placeholder="Enter a comment..."></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>
    </div>
<br>
    <div class="col-sm-12" style="text-align:center">
        <h2>People who signed my guestbook!</h2>
    </div>
    <div class="col-sm-12" style="text-align:center">
        <% if (guests.length > 0)  { %>
            <% if (guests.length == 1)  { %>
                <div class="col-sm-12">
                    <div class="well">
                        <div>
                            <span><%= guests[0].firstName %></span>
                            <span><%= guests[0].lastName %></span>
                        </div>
                        <div>
                            <span><%= guests[0].comments %></span>
                        </div>
                    </div>
                </div>
            <% } else { %>
                <% for(var i=0; i<guests.length; i++) {%>
                    <div class="col-sm-6">
                        <div class="well">
                            <div>
                                <span><%= guests[i].firstName %></span>
                                <span><%= guests[i].lastName %></span>
                            </div>
                            <div>
                                <span><%= guests[i].comments %></span>
                            </div>
                        </div>
                    </div>
                <% } %>
            <% } %>
        <% } else { %>
            <div class="col-sm-12">
                <div class="well" style="text-align:center">
                    <div>
                        <span>Be the first to sign my guestbook!</span>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</div>
</body>
</html>